body {
    background-color: #232323;
}

.square {
    width: 30%;
    background-color: brown;
    padding-top: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

#header {
    background-color: cadetblue;
    text-align: center;
}

#header2 {
    background-color: white;
    text-align: center;
}

h1 {
    color: white;
    margin: 0;
}

span {
    color: white;
}

div span {
    color: black;
}